#%RAML 1.0
title: hellomule API
version: v1
baseUri: https://hellomule-pyuq0i.5sc6y6-2.usa-e2.cloudhub.io/hello
mediaType: application/json

types:
  Saludo:
    type: object
    properties:
      saludo: string
      message: string

  UsuarioExterno:
    type: object
    properties:
      id: integer
      nombre: string
      email: string
      ciudad: string

  UsuarioInput:
    type: object
    properties:
      nombre: string
      email: string

  UsuarioCreado:
    type: object
    properties:
      id: integer
      nombre: string
      email: string
      creado: string
      mensaje: string

  UsuarioDb:
    type: object
    properties:
      id: integer
      nombre: string
      email: string
      creado: string

  ErrorResponse:
    type: object
    properties:
      error: boolean
      mensaje: string
      detalle?: string

  StatusResponse:
    type: object
    properties:
      status: string
      app: string
      timestamp: string

/:
  get:
    description: Saludo simple con hora del día y nombre opcional
    queryParameters:
      nombre?:
        type: string
        example: Alex
    responses:
      200:
        body:
          application/json:
            type: Saludo
            example:
              saludo: Buenas tardes
              message: Hello Alex

/users:
  get:
    description: Trae usuarios de una API externa (JSONPlaceholder) y los transforma
    responses:
      200:
        body:
          application/json:
            type: UsuarioExterno[]
            example: |
              [
                { "id": 1, "nombre": "Leanne Graham", "email": "Sincere@april.biz", "ciudad": "Gwenborough" },
                { "id": 2, "nombre": "Ervin Howell", "email": "Shanna@melissa.tv", "ciudad": "Wisokyburgh" }
              ]
      502:
        body:
          application/json:
            type: ErrorResponse
            example:
              error: true
              mensaje: No se pudo obtener la lista de usuarios
              detalle: "HTTP GET on resource '...' failed: Timeout exceeded."

  post:
    description: Crea un usuario y lo persiste en PostgreSQL
    body:
      application/json:
        type: UsuarioInput
        example:
          nombre: Alex
          email: alex@correo.com
    responses:
      201:
        body:
          application/json:
            type: UsuarioCreado
            example:
              id: 3
              nombre: Alex
              email: alex@correo.com
              creado: "2026-06-10T10:25:29.082084"
              mensaje: Usuario creado correctamente
      400:
        body:
          application/json:
            type: ErrorResponse
            example:
              error: true
              mensaje: "Los campos 'nombre' y 'email' son obligatorios"
      409:
        body:
          application/json:
            type: ErrorResponse
            example:
              error: true
              mensaje: El email ya está registrado
              detalle: "ERROR: duplicate key value violates unique constraint \"users_email_key\"..."

  /db:
    get:
      description: Lista los usuarios persistidos en PostgreSQL
      responses:
        200:
          body:
            application/json:
              type: UsuarioDb[]
              example: |
                [
                  { "id": 1, "nombre": "Alex", "email": "alex@gmail.com", "creado": "2026-06-10T10:17:45.767928" },
                  { "id": 3, "nombre": "Camilo", "email": "camilo@gmail.com", "creado": "2026-06-10T10:25:29.082084" }
                ]

/status:
  get:
    description: Health check para monitoreo (load balancers, CloudHub)
    responses:
      200:
        body:
          application/json:
            type: StatusResponse
            example:
              status: UP
              app: hellomule
              timestamp: "2026-06-09T19:30:00-05:00"
